body{
    margin: 0px;
    padding: 0px;
}
ul{
    margin: 0px;
    padding: 0px;
}
.my_menu{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: dodgerblue;  
}
.menu li{
    list-style: none;
    width: 160px;
    height: 50px;
    background: #2196f3;
    margin-left: 5px;
    text-align: center;
    line-height: 50px;
    float: left;
}
.menu li:hover{
    background-color: black;
}
.menu li a:hover{
    color:aqua;
}
.menu li a{
    color: white;
    display: block;
    text-decoration: none;
}
.logo{
    width:50px;
}
.logo_li:hover{
    background-color: #2196f3 !important;
}
.logo_li a{
    font-size: 20px;
    background-color: black;
}
.logo_li a:hover{
    color: white !important;
}
.menu ul li{
    margin: 0px;
}
.menu ul{
    display: none;
}
.menu li:hover ul{
    display: block;
}

#banner{
    width:100%;
}
#banner img{
    margin-top: 50px;
    width: 100%;
}

/* why choose us */
#why_choose{
    width: 100%;
    text-align: center;
}
#why_choose h1{
    margin: 0 auto;
    width: 300px;
    text-align: center;
    font-size: 30px;
    color: red;
    border-bottom: 2px solid red;
}
.div_section1{
    width: 20%;
    height: 300px;
    margin: 29px;
    float: left;
}
.icon{
    width: 120px;
    height: 120px;
    border: 1px solid gray;
    margin: 10px auto;
    line-height: 120px;
    font-size: 50px;
    background-color: darkred;
    color: white;
    border-radius: 100px;
    transition-duration: 0.3s;
}
.icon:hover{
    font-size: 40px;
}
/* section2 */
.section2{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.section2 h1{
    margin: 0 auto;
    width: 350px;
    font-size: 30px;
    color: red;
    border-bottom: 2px solid red;
}
.div_section2{
    width: 30%;
    height: 300px;
    margin:19px;
    float: left;
}
.div_section2 img{
    width: 100%
}
/* our tutors */
.section3{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.section3 h1{
    margin: 0 auto;
    width: 350px;
    font-size: 30px;
    color: red;
    border-bottom: 2px solid red;
}
.div_section3{
    width: 30%;
    height: 300px;
    margin:19px;
    float: left;
}
.div_section3 img{
    width: 80%;
    border-radius: 200px;
}
*{
    margin: 0;
    padding: 0;
}
.testimonials{
    margin: 50px auto;
}
.testimonials h1{
    text-align: center;
    font-weight: bold;
    color: red;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.testimonials h1::after{
    content: '';
    background: #ff9880;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.testimonials .row{
    margin-top: 30px;
}
.col-md-4{
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.profile img{
    width: 65%;
    border: 10px solid white;
}
.user{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
}
blockquote{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before{
    content:'\93';
    font-size: 50px;
    position: relative;
    color:#ff9880;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}
blockquote::after{
    content:'\94';
    font-size: 50px;
    position: relative;
    color:#ff9880;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.7);
}

/* footer */
.footer{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: black;
}
.footer_div{
    width: 20%;
    height: auto;
    margin: 29px;
    float: left;
}
.footer_div h2{
    color: red;
}
.footer_div p{
    color: white;
}
.footer_div button{
    margin-top: 20px;
    background-color: red;
    border: none;
    color: white;
    width: 120px;
    height: 40px;
}
.footer_div ul li{
    list-style: none;
}
.footer_div ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
.social_link{
    color: white;
}
.under_footer{
    width: 100%;
    height: 60px;
    text-align: center;
    display: inline-block;
    background-color: white;
}
.footer1{
    width: 50%;
    float: left;
}
.footer1 p{
    color: black;
}
